<div class="container" style="height: 120vh;">
	<div class="card">
		<div class="card-block" align="center">

		<h4 align="center">Add a Product</h4>
			<form class="form" name="regForm" ng-controller="productController" ng-submit="add(item)">
		        <div class="content">
		            <div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-card"></i>
					        </span>
					        <input type="text" class="form-control" placeholder="Name of Product" ng-model="item.product_name">
					    </div>
					</div>
		            <div class="col-md-6">
					    <div class="form-group">
					    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Product Details" ng-model="item.product_details"></textarea>
					  </div>
					</div>

					<div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-cash"></i>
					        </span>
					        <input type="password" class="form-control" placeholder="Price" ng-model="item.product_price">
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-arrow-graph-up-right"></i>
					        </span>
					        <input type="text" class="form-control" placeholder="Unit of Measure E.g bags, kg, grams" ng-model="item.unit_of_measure">
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-android-apps"></i>
					        </span>
					        <input type="text" class="form-control" placeholder="Quantity" ng-model="item.quantity">
					    </div>
					</div>
					
					
					<div class="col-md-6">
						<div class="form-group">
					      <select id="disabledSelect" class="form-control" ng-model="item.status">
					        <option>Select Status</option>
					        <option value="1" ="">In Stock</option>
					        <option value="2" ="">Out of Stock</option>
					      </select>
					    </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					      <select id="disabledSelect" class="form-control" ng-model="item.category">
					        <option>Select Status</option>
					        <option value="1" ="">Cash Crop</option>
					        <option value="2" ="">Grain</option>
					        <option value="4" ="">Fruit</option>
					        <option value="5" ="">Vegetable</option>
					      </select>
					    </div>
					</div>
					<div class="form-group">
					    <label for="exampleInputFile">File input</label>
					    <input type="file" name="image" file-model="myFile" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp>
					    <small id="fileHelp" class="form-text text-muted">Please Select Product Image</small>
					  </div>
		        </div>
		        <div align="center" class="col-sm-4">
		            <div class="footer text-center">
		            	<button type="submit" name="submit" ng-disabled="regForm.$invalid" class="btn btn-primary btn-round btn-block">Add Product</button>
		        	</div>
		        </div>
		        <div class="col-sm-4">
		            <h6>
		                <a ui-sref="login" class="link">LOGIN?</a>
		            </h6>
		        </div>
		    </form>
		</div>
	</div>
</div>