<div class="container" style="margin-top: 5%;">
	<div class="card">
		<div class="card-block" align="center">
			<form class="form" name="logForm" ng-submit="login(user)" ng-controller="loginController" novalidate>
				<h4 align="center">LOGIN</h4>
		        <div class="content">
		            <div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-person"></i>
					        </span>
					        <input type="email" class="form-control" placeholder="Username" ng-model="user.email" required>
					    </div>
					</div>
		            <div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-locked"></i>
					        </span>
					        <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
					    </div>
					</div>
		        </div>
		        
		        <div align="center" class="col-md-4">
		            <div class="footer text-center">
		            	<button type="submit" class="btn btn-primary btn-round btn-block" ng-disabled="logForm.$invalid">Login</button>
		        	</div>
		        </div>
		        <div class="col-md-4">
		            <h6>
		            	<a ui-sref="registration" class="link">Create Account</a>
		            </h6>
		        </div>
		    </form>
	    </div>
	</div>
</div>
