<div style="background-image: url('/images/bg.jpeg'); height: 30vh;">
	
</div>
<div style="padding-top: 2%;padding-left: 5%;">
	<div class="">
		<div class="card mb-3 col-md-3" style="margin: 2%;" ng-repeat="product in myProduct">
		  <img class="" src="/images/cocoa.jpg" alt="Card image cap" style="height: 250px;margin-top: 5px;">
		  <div class="card-block">
		    <h4 class="card-title">{{product.product_name}}</h4>
		    <h6 class="card-title">{{'2000' | currency}}</h6>
		    <p class="card-text"><small class="text-muted">{{product.date_added}}</small></p>
		    <div>
		    	<button class="btn btn-neutral"><i class="ion-edit"></i> Edit</button>
		    	<button class="btn btn-neutral"><i class="ion-trash-a"></i> Delete</button>
		    </div>
		  </div>
		</div>
	</div>
</div>