<div class="cont" style="height: 120vh;background-image: url('/images/lgbg.jpeg');">
	<div class="">
		<div class="card-block" align="center">

		<h4 align="center">Register</h4>
			<form class="form" name="regForm" ng-controller="registerController" ng-submit="register(user)">
		        <div class="content">
		            <div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-person"></i>
					        </span>
					        <input type="text" class="form-control" placeholder="Name" ng-model="user.name">
					    </div>
					</div>
		            
					<div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-locked"></i>
					        </span>
					        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-ios-home"></i>
					        </span>
					        <input type="text" class="form-control" placeholder="Address" ng-model="user.address">
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-ios-email"></i>
					        </span>
					        <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-ios-telephone"></i>
					        </span>
					        <input type="text" class="form-control" placeholder="Phone Number" ng-model="user.phone">
					    </div>
					</div>
					<div class="col-md-6">
						<label>Please Select Type</label>
					    <div class="input-group form-group-no-border">
					        <span class="input-group-addon">
					            <i class="ion-ios-circle-filled"></i>
					        </span>
					        <select class="form-control" value="" ng-model="user.type">
					        	<option value="" disabled="">Select One</option>
					        	<option value="2" ="">Seller</option>
					        	<option value="1" ="">Buyer</option>
					        </select>

					    </div>

					</div>
		        </div>
		        <div align="center" class="col-sm-4">
		            <div class="footer text-center">
		            	<button type="submit" name="submit" ng-disabled="regForm.$invalid" class="btn btn-primary btn-round btn-block">Register</button>
		        	</div>
		        </div>
		        <div class="col-sm-4">
		            <h6>
		                <a ui-sref="login" class="link">LOGIN?</a>
		            </h6>
		        </div>
		    </form>
		</div>
	</div>
</div>