<div class="container" style="margin-top: 2%">
	<div class="row">
		<div class="col-md-6">
			<img src="/images/cocoa.jpg"  class="img-fluid img-thumbnail">
		</div>
		<div class="col-md-6">
			<h3 class="card-title">Cocoa Pudding</h3>
			<p class="lead">
			  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
			  
			</p>
			<div class="row">
				<div class="col-md-6">
					<h4 class="card-title">{{'2000' | currency}}</h4>
					<h5>Rating - 0.6</h5>
					<div>
						<button class="btn btn-sm btn-danger" ng-click="quantity = quantity - 1">-</button>
							{{quantity}}
						<button class="btn btn-sm btn-success" ng-click="quantity = quantity + 1">+</button>

						<button class="btn btn-md btn-default ">Add to Cart</button>
					</div>
				</div>
				<div class="col-md-6">
					<p>Seller Info</p>
					<div class="">
						<p>
							<p><i class="ion-card"></i> &nbsp;Petya Group</p>
							<p><i class="ion-home"></i> &nbsp;Landmark University, Omu-Aran</p>
							<p><i class="ion-email"></i> &nbsp;test@gmail.com</p>
							<p><i class="ion-android-call"></i> &nbsp;07034820668</p>
						</p>
					</div>
				</div>
				
			</div>
			
			
		</div>
	</div>
	
</div>